In [ ]:
Q.1 create one variable containing followind type of data:
    (1) string
    (2) list
    (3) float
    (4) tuple

In [1]:
a=['hello world',15.6,85.56,(8,54,65)]

In [ ]:
Q.2 Given are some following variables containing data:

In [3]:
var1=''
type(var1)

str

In [5]:
var2='[DS,ML,Python]'
type(var2)

str

In [6]:
var3=['DS','ML','python']
type(var3)

list

In [7]:
var4=1
type(var4)

int

In [ ]:
Q.3 explain the use of the following operators using an examples:

In [ ]:
 (1) / : The '/' operator in Python is used for division operations

In [8]:
b=8
a=4
b/a

2.0

In [ ]:
(2) % : The % operator in Python is called the modulo operator

In [9]:
b=8
a=4
b%a

0

In [ ]:
(3) // : The // operator in Python is known as the floor division operator

In [10]:
b=20
a=10
b//a

2

In [ ]:
(4) ** : the ** operator is used to raise a number to a power.

In [11]:
d=56
h=12
d**h

951166013805414055936

In [ ]:
Q.4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
    element and its data type.

In [15]:
s=[5,6,8,25.5,"sunny",89,58,"hello world",(8),10]

In [17]:
for i in s:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>

In [ ]:
Q.6  Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
l= [2, 3, 7, 9, 12, 18, 21, 25, 27, 30, 33, 36, 40, 42, 45, 48, 50, 51, 54, 57, 60, 63, 66, 69, 72]

for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

2 is not divisible by 3
3 is divisible by 3
7 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
18 is divisible by 3
21 is divisible by 3
25 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
33 is divisible by 3
36 is divisible by 3
40 is not divisible by 3
42 is divisible by 3
45 is divisible by 3
48 is divisible by 3
50 is not divisible by 3
51 is divisible by 3
54 is divisible by 3
57 is divisible by 3
60 is divisible by 3
63 is divisible by 3
66 is divisible by 3
69 is divisible by 3
72 is divisible by 3

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible

In [17]:
a = 150
b = 5
count = 0
while a % b == 0:
    count +=1
    a = a//b
if count > 0:
    print(f"{a} is divisible by {b} {count} times.")
else:
    print(f"{a} is not divisible by {b}.")

6 is divisible by 5 2 times.

In [ ]:
Q7.What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable:mutable  objects are objects whose values can be changed after they are created.
Mutable objects can be modified in place without creating a new object.mutable objects in Python supports lists and sets. 

Immutable: immutable objects are objects that cannot be modified after they are created.
Any attempt to change the value of an immutable object will result in the creation of a new object with the new value.

In [18]:
 S= [2,3,4,5,6,"sudh" , 3+7j , True , 34.56]
type(l)

list

In [ ]:
list is mutable object

In [22]:
p='sunny'
type(p)

str

In [ ]:
string is immutable object